.nav{
    background: lightblue;
}
.lo{

    position: relative;
    width: 650px;
    height: auto;
    left: 20px;
    top: 200px;
    

}

.bt1{

    position: absolute;
    top: 410px;
    width: 100px;
}


#sub, #filas{

    border: 1px red solid;
}
#tabla{

    position:relative;

    left: 860px;
    top: 105px;
   background-color: lightblue;
   border:1p white;
    width: 500px;
    height: 300px;
   
}

#titulo{    


    position: relative;
    top: 130px;
    left: -550px;
    height: 30px;

}
#articulo{    


    position: relative;
    top: 100px;
    left: -340px;
    height: 30px;

}

#editor{
    resize: none;
    position: absolute;
    left: 0;
    top: -100px;
    width: 750px;
    height: 500px;
}


#b1{

    position: relative;
    top: -50px;
    left: -300px;
}



body {
    font-family:  sans-serif, 'Overpass';
    font-weight: normal;
    font-size: 100%;
    color: #000000;
    text-align: center;
    
    margin: 0;
   
}
.menu{
	/*list-style: none;
	padding: 0;
	background: lightblue;
	width: 90%;
	max-width: 1000px;
	margin: auto;
    
*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:aliceblue;
    padding: 0px 20px;
    box-shadow: 0px 0px 20px 0px rgb(138, 136, 136);

   
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}



.col-md-8{
    margin: 0px auto;
}

.table{
    text-align: center;
}
#area {
    display: flex;
    align-items:center;
    justify-content:center;
    
    text-align: center;
    width: 100%;
    
    padding:150px 350px 350px 350px;
    box-sizing: border-box;
}


#sub{

    background-color: white;
}

