
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* ====================================================================*
 *                           - 01. Header -                            */


.page-header nav {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f2f2;
    padding: 6px 50px;
    box-shadow: 0px 0px 20px 0px rgb(138, 136, 136);
  }
   
  .page-header ul {
    display: flex;
    order: 1;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
  }

  .page-header ul li {
    display: inline-block;
  }

  .page-header ul li:hover{
    transition: 0.3s;
    text-decoration: none;
    color: #eee;
  }

  .page-header ul li a {
    text-decoration: none;
    color: #1663c7;
    text-size-adjust: large;
    font-family: "Lexend Deca";
    font-weight: 500;
    font-size: 16px;
    padding: 25px;
    background-color: #f2f3f2;
    border-bottom: 6px solid transparent;
  }
  .page-header ul li a:hover {
    color: rgb(0, 195, 255);
    cursor: pointer;
    border-bottom-color: #1663c7;
    transition: 0.3s;
  }

  .page-header nav .logo {
    width: 159px;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
  }

  .page-header nav .logo:hover {
    transform: scale(1.35);
  }
   
  @media screen and (min-width: 550px) {
    .page-header ul {
      width: auto;
      margin-top: 0;
    }
   
    .page-header .cta-contact {
      order: 1;
      background-color: #610dc0ee ;
      padding: 10px;
      border-radius: 50px;
      color: #eee;
      font-family: "Lexend Deca";
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      border: none;
      transition: 0.3s;
    }
    .page-header .cta-contact:hover {
        order: 1;
        background-color: #ea00ff;
        padding: 10px;
        border-radius: 50px;
        transform: scale(1.2);
        color: #eee;
        cursor: pointer;
      }
  }
  
/* ====================================================================*
 *                           - 02. Body -                              */

 html {
  background: #24caba;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0%;
}

a {
  text-decoration: none;
}

div, h2, p, figure {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
  max-width: 1040px;
  padding: 20px;
}

.columns {
  display: flex;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-column {
  flex: 3;
}

.nested-column {
  flex: 2;
}

.article {
  background: white;
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
  border-radius: 1%;
  transition: 0.3s;
}

.article:hover {
  transform: scale(1.04);
}

.article-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
  border-radius: 1%;
}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 1%;
}

.article-image.is-3by2 {
  padding-top: 66.6666%;
}

.article-image.is-16by9 {
  padding-top: 56.25%;
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.2;
}

.article-content {
  flex: 1;
  margin-top: 5px;
}

.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
  background-color: white;
  color: #555;
}

/* ====================================================================*
 *            - 03. typography & general theme styles  -               */

 h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "Lexend Deca";
	color: #151515;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
  margin-top: 2.1rem;
}

h3, .h03, h4, .h04 {
	margin-bottom: 1.8rem;
}
h5, .h05, h6, .h06 {
	margin-bottom: 1.2rem;
}
h1, .h01 {
	font-size: 3.1rem;
	line-height: 1.35;
	letter-spacing: -.1rem;
}
@media only screen and (max-width:600px) {
	h1, .h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
}
h2, .h02 {
	font-size: 2.4rem;
	line-height: 1.25;
}
h3, .h03 {
	font-size: 2rem;
	line-height: 1.5;
}
h4, .h04 {
	font-size: 1.7rem;
	line-height: 1.76;
}
h5, .h05 {
	font-size: 1.4rem;
	line-height: 1.7;
	text-transform: uppercase;
	letter-spacing: .2rem;
}
h6, .h06 {
	font-size: 1.3rem;
	line-height: 1.85;
	text-transform: uppercase;
	letter-spacing: .2rem;
}
p img {
	margin: 0;
}

/*p.lead {
	font-family: 'roboto-light', sans-serif;
	font-size: 2rem;
	line-height: 1.8;
	color: #373737;
	color: #666666;
}*/

p {
  text-align: justify;
  font-size: large;
  font-family: "Montserrat";
  color: #000000
}
@media only screen and (max-width:768px) {
	p.lead {
		font-size: 2.1rem;
	}
}
em, i, strong, b {
	font-size: 1.7rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
em, i {
	font-family: 'roboto-italic', sans-serif;
}
strong, b {
	font-family: 'roboto-bold', sans-serif;
}
small {
	font-size: 1.1rem;
	line-height: inherit;
}

/* Modificar Blockquote a discrecion (Son las comillas que aparecen citando en grande)*/
blockquote {
	margin: 4.2rem 0;
	padding-left: 4.2rem;
	position: relative;
}
blockquote:before {
	content: "\201C";
	font-size: 10rem;
	line-height: 0px;
	margin: 0;
	color: rgba(0, 0, 0, 0.2);
	font-family: arial, sans-serif;
	position: absolute;
	top: 3.6rem;
	left: 0;
}
blockquote p {
	font-family: "roboto-light", sans-serif;
	padding: 0;
	font-size: 2.2rem;
	line-height: 1.75;
}
blockquote cite {
	display: block;
	font-family: "muli-regular", sans-serif;
	font-size: 1.4rem;
	font-style: normal;
	line-height: 1.714;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited {
	color: #373737;
	border: none;
}
/*abbr {
	font-family: "roboto-bold", sans-serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: #2b2b2b;
}*/
var, kbd, samp, code, pre {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
mark {
	background: #FFF49B;
	color: #000;
}
hr {
	border: solid #c2c2c2;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}

/* ====================================================================*
 *                           - 06. Content wrap -                      */

 #content-wrap {
	margin-top: 0;
}

#content-wrap .row {
	max-width: 950px;
}

#content-wrap .row.wide {
	max-width: 1300px;
}

#content-wrap .row.narrow {
	max-width: 800px;
}

#content-wrap .content-media {
	position: relative;
	margin-bottom: 90px;
}

#content-wrap .content-media img {
	vertical-align: bottom;
  max-width: fit-content;
}

#content-wrap .primary-content {
	padding-left: 6rem;
	padding-right: 6rem;
  font-family: "Lexend Deca";
}

#content-wrap .content-media img {
	max-width: 910px;
	margin: 1rem 0 1rem 1.5rem;
}

#content-wrap .primary-content img.pull-right {
	margin: 0.9rem 0 0 2.4rem;
	max-width: 100%;
}

#content-wrap .primary-content img.pull-left {
	margin: 0.9rem 2.4rem 0 0;
	max-width: 100%;
}

#content-wrap .entry-title,
#content-wrap .page-title {
	font-size: 3.3rem;
	line-height: 1.364;
	margin-bottom: 0.9rem;
}

 /* ====================================================================*
 *                   - 05. blog styles - single post -                  */

 .blog-single .entry-meta {
	font-family: "muli-regular", sans-serif;
	font-size: 1.5rem;
	list-style: none;
	margin-left: 0;
	margin-bottom: 3rem;
	color: #999999;
}
.blog-single .entry-meta a,
.blog-single .entry-meta a:visited {
	color: #000000;
}

.blog-single .entry-meta li {
	display: inline-block;
	padding-left: 0;
}

.blog-single .entry-meta .date {
	margin-right: 1rem;
}

.blog-single .entry-meta .cat a {
	margin-right: 5px;
}

.blog-single .entry-meta .cat a:last-child {
	margin-right: 0;
}

.blog-single .entry-meta .cat a::after {
	content: ",";
}

.blog-single .entry-meta .cat a:last-child::after {
	content: none;
}

.blog-single .author-profile {
	margin-top: 5rem;
	padding-left: 9rem;
	position: relative;
}

.blog-single .author-profile a,
.blog-single .author-profile a:visited {
	color: #000000;
}

.blog-single .author-profile img {
	margin: 0.6rem 0 0 0 !important;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.blog-single .author-profile p {
	margin-bottom: 1.2rem;
}

.blog-single .author-profile .author-social {
	list-style: none;
	margin-left: 0;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.blog-single .author-profile .author-social li {
	display: inline-block;
	margin-right: 0.8rem;
	padding-left: 0;
}

.blog-single .author-profile .author-social a {
	color: #999999;
}


/* ====================================================================*
 *                           - 06. Footer -                            */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Lexend Deca";
    padding-bottom: 0.625rem;
    font-size: 2.3rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 10px 10px 45px 10px;
    display: flex;
    flex-wrap: wrap;
  }

  /* Responsive */

  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }

  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }

  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }

/* ====================================================================*
 *                         - 07. Footer contact -                      */

.s-footer__social {
  list-style : none;
  display    : flex;
  margin     : 0;
}

.s-footer__social li {
  padding-left : 0;
  margin-right : 1rem;
  line-height  : 1;
}

.s-footer__social li:last-child {
  margin-right : 0;
}

.s-footer__social svg {
  height : 2.8rem;
  width  : 2.8rem;
}

.s-footer__social svg path {
  fill : white;
}